<ion-header>
  <ion-navbar color="primary">
    <ion-title>Equipment Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="equipment" padding text-center="">
  <ion-grid fixed>
    <ion-row class="details" text-left>
      <ion-col col-2><ion-label>Serial</ion-label></ion-col>
      <ion-col col-10><ion-label>{{ equipment.serial }}</ion-label></ion-col>
    </ion-row>
    <ion-row class="details" text-left>
      <ion-col col-2><ion-label>Name</ion-label></ion-col>
      <ion-col col-10><ion-label>{{ equipment.name }}</ion-label></ion-col>
    </ion-row>
    <ion-row class="details" text-left>
      <ion-col col-2><ion-label>Type</ion-label></ion-col>
      <ion-col col-10><ion-label>{{ equipment.type }}</ion-label></ion-col>
    </ion-row>
    <ion-row class="details" text-left>
      <ion-col col-2><ion-label>Description</ion-label></ion-col>
      <ion-col col-10><ion-label>{{ equipment.description }}</ion-label></ion-col>
    </ion-row>
    <ion-row class="details pointer-cursor" text-left (click)="toggleStaffInfo()">
      <ion-col col-2><ion-label>Assigned Staff</ion-label></ion-col>
      <ion-col col-9><ion-label>{{ equipment.staff ? equipment.staff.name : '-' }}</ion-label></ion-col>
      <ion-col col-1><ion-icon class="arrow" item-right [name]="showStaff ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon></ion-col>
      <ion-label padding-left *ngIf="showStaff && equipment.staff">
        Office: {{ equipment.staff.office }}<br>
        Phone: {{ equipment.staff.phone }}<br>
        E-mail: {{ equipment.staff.email }}
      </ion-label>
    </ion-row>
  </ion-grid>
  <button ion-button (click)="assignStaff()">Assign Staff</button>
  <button *ngIf="equipment.staff" ion-button (click)="removeStaff()">Remove Staff</button>

</ion-content>
